{% load template_utils %}
{% with table_id=table.object_id|default:'obj'|concat:'-table' %}
  <div id="{{ table_id }}" class="loading-box overflow-x-auto">
    {% block table %}
      <table class="table border border-separate border-spacing-0 border-primary">
        <thead>
          {% block table_header %}
            <tr class="border-b border-primary">
              {% for column in table.columns %}
                <th class="border-b border-primary {{ column.width }}">
                  {% if column.header_template %}
                    {% include column.header_template %}
                  {% elif column.filter_by or column.order_by %}
                    {% include "./_table_filterable_column_header.html" %}
                  {% else %}
                    {{ column.header }}
                  {% endif %}
                </th>
              {% endfor %}
            </tr>
          {% endblock table_header %}
        </thead>
        <tbody id="table-body">
          {% block table_rows %}
            {% for object in page.object_list %}
              {% block object %}
                <tr id="{{ table.object_id|default:'obj' }}-{{ object.pk }}-row"
                    class="hover">
                  {% for column in table.columns %}
                    <td class="{{ column.width }}">
                      {% if column.cell_template %}
                        {% include column.cell_template %}
                      {% elif column.lookup_key %}
                        {% with default=column.default|default:'-' %}{{ object|get_item:column.lookup_key|default:default }}{% endwith %}
                      {% endif %}
                    </td>
                  {% endfor %}
                </tr>
              {% endblock object %}
            {% empty %}
              <tr>
                <td colspan="{{ table.columns|length }}">No items on this page.</td>
              </tr>
            {% endfor %}
          {% endblock table_rows %}
        </tbody>
        <tfoot>
          {% block table_footer %}
            <tr>
              <td colspan="{{ table.columns|length }}" class="border-t border-primary">
                <div class="flex justify-between items-center">
                  <div class="join">
                    <dl class="join-item stats stats-horizontal leading-none overflow-x-auto font-medium bg-base-100">
                      <div class="stat py-1">
                        <dt class="stat-title text-inherit/80">Total</dt>
                        <dd class="stat-value text-2xl text-base font-medium">
                          {{ count }}
                        </dd>
                      </div>
                    </dl>
                    <a class="btn btn-primary join-item h-full rounded-box require-write"
                       href="{% url table.add_button.url %}">{{ table.add_button.text }}</a>
                  </div>
                  {% include "components/_table_paginator.html" %}
                </div>
              </td>
            </tr>
          {% endblock table_footer %}
        </tfoot>
      </table>
      {% with ordering_value=table.filter_form|fieldvalue:table.ordering_field %}
        {% if ordering_value %}
          <form>
            <input class="column-filter"
                   type="hidden"
                   name="{{ table.ordering_field }}"
                   value="{{ ordering_value }}">
          </form>
        {% endif %}
      {% endwith %}
    {% endblock table %}
    <div class="htmx-indicator loading loading-spinner loading-lg text-primary"></div>
  </div>
{% endwith %}
