{% load template_utils %}
<div class="relative"
     hx-include="#{{ table_id }} .column-filter"
     hx-target="#{{ table_id }}"
     hx-swap="outerHTML"
     hx-indicator="#{{ table_id }} .htmx-indicator"
     hx-push-url="true">
  <div class="flex gap-1">
    <div>{{ column.header }}</div>
    {% if column.order_by %}
      {% with ordering_value=table.filter_form|fieldvalue:table.ordering_field %}
        <div class="flex">
          {# djlint:off #}
          <a class="cursor-pointer {% if ordering_value == column.filter_field %}text-sm/4{% endif %}"
             hx-get="{% url table.list.url %}"
             href="?{{ table.ordering_field }}=-{{ column.filter_field }}"
             {% if ordering_value == column.filter_field %}
             hx-params="not {{ table.ordering_field }}"
             {% else %}
             hx-vals='{"{{ table.ordering_field }}": "{{ column.filter_field }}"}'
             {% endif %}>▲</a>
          <a class="cursor-pointer {% if ordering_value == '-'|concat:column.filter_field %}text-sm/4{% endif %}"
             hx-get="{% url table.list.url %}"
             href="?{{ table.ordering_field }}=-{{ column.filter_field }}"
             {% if ordering_value == '-'|concat:column.filter_field %}
             hx-params="not {{ table.ordering_field }}"
             {% else %}
             hx-vals='{"{{ table.ordering_field }}": "-{{ column.filter_field }}"}'
             {% endif %}>▼</a>
          {# djlint:on #}
        </div>
      {% endwith %}
    {% endif %}
    {% if column.filter_by %}
      {% with filter_value=table.filter_form|fieldvalue:column.filter_field %}
        <div>
          <button type="button"
                  class="btn btn-xs {% if filter_value %} btn-primary {% else %} btn-ghost {% endif %} min-h-4 h-4"
                  _="on click toggle .hidden on next .column-filter">🔍</button>
        </div>
      {% endwith %}
    {% endif %}
  </div>
  {% if column.filter_by %}
    {% with filter_value=table.filter_form|fieldvalue:column.filter_field %}
      <div class="absolute flex gap-2 column-filter hidden bg-base-100 border-primary border p-2 rounded-lg w-72 top-5 z-10"
           _="on keyup[key is 'Escape'] from body add .hidden to me">
        <label class="input input-xs flex grow input-accent">
          <input name="{{ column.filter_field }}"
                 class="input-xs p-0 grow"
                 type="search"
                 autocomplete="off"
                 value="{{ filter_value }}">
          {# djlint:off #}
          <span _="on click
                    if (the value of the previous <input />) is not empty
                      set the value of the previous <input /> to ''
                      send doRequest to me
                    end
                    add .hidden to closest .column-filter"
                hx-get="{% url table.list.url %}"
                hx-trigger="doRequest">✕</span>
          {# djlint:on #}
        </label>
        <button type="button"
                class="btn btn-xs btn-primary"
                _="on click add .hidden to closest .column-filter"
                hx-get="{% url table.list.url %}"
                hx-trigger="click">Filter</button>
      </div>
    {% endwith %}
  {% endif %}
</div>
