@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  #table {
    @apply border-spacing-0;
  }

  .input,
  .checkbox,
  .select,
  .radio {
    background-color: white;
  }

  .htmx-loading-pulse.htmx-request {
    @apply animate-pulse;
  }

  /* Hide default +/- buttons on numberinputs with .hide-buttons class*/
  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button.hide-buttons,
  input::-webkit-inner-spin-button.hide-buttons {
    -webkit-appearance: none;
    margin: 0;
  }
  /* Firefox */
  input[type="number"].hide-buttons {
    -moz-appearance: textfield;
  }

  /*Ack checkboxes get an indicator spinner while processing an htmx ack request */
  .ack-checkbox.htmx-request {
    animation: none;
  }
  .ack-checkbox.htmx-request input {
    display: none;
  }
  .ack-checkbox:not(.htmx-request) .htmx-indicator {
    display: none;
  }
}
