# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
coverage.xml
.pytest_cache/

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal


# Sphinx documentation
docs/_build/


# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/


# Argus / repo stuff
cmd.sh
cmd*.sh
staticfiles/

# Tailwind config is dynamically generated
tailwindcss/tailwind.config.js
tailwindcss/geant.base.css

# ignore the development version of geant.css
/src/geant_argus/geant_argus/static/geant.css
