{% extends "htmx/base.html" %}
{% load widget_tweaks %}
{% block main %}
  <div class="p-2 border border-primary rounded-xl sm:w-4/5 md:w-2/3 lg:w-1/2 xl:w-2/5">
    <form method="post" action="">
      <fieldset>
        <label class="label">
          <span class="label-text">{{ form.name.label }}</span>
          {{ form.name|add_class:"input input-accent input-bordered border" }}
        </label>
        <label class="label">
          <span class="label-text">{{ form.filter.label }}</span>
          {{ form.filter|add_class:"select select-accent border" }}
        </label>
        <label class="label">
          <span class="label-text">{{ form.level.label }}</span>
          {{ form.level|add_class:"select select-accent border" }}
        </label>
        <label class="label">
          <span class="label-text">{{ form.message.label }}</span>
          {{ form.message|add_class:"input input-accent input-bordered border" }}
        </label>
        {% csrf_token %}
      </fieldset>
      <div>
        <div class="join">
          <input type=submit class="btn btn-primary join-item" value="Save">
          <a class="btn btn-primary join-item"
             href="{% url 'geant-blacklists:blacklist-list' %}">Cancel</a>
        </div>
      </div>
    </form>
  </div>
{% endblock main %}
