{% load filter_extras %}
<table class="table border border-separate border-primary border-spacing-0">
  <thead>
    <tr class="border-b border-primary">
      <th class="border-b border-primary">Name</th>
      <th class="border-b border-primary hidden lg:block condensed:hidden">Description</th>
      <th class="border-b border-primary">User</th>
      <th class="border-b border-primary w-20">Actions</th>
    </tr>
  </thead>
  <tbody id="table-body">
    {% block incident_rows %}
      {% for object in page.object_list %}
        {% block object %}
          <tr id="obj-{{ object.pk }}-row"
            class="filter-row cursor-pointer"
            hx-trigger="click[!currentTarget.classList.contains('filter-row-selected')]"
            hx-get="{% url 'geant-filters:edit-filter' object.pk %}"
            hx-target="#filter-edit"
            {# djlint:off #}
            _="on click
                 if I match .filter-row-selected then
                   remove .filter-row-selected from me
                   remove <#filter-edit > */>
                 else
                   remove .filter-row-selected from <#table-body > tr/>
                   add .filter-row-selected to me
                 end">
            {# djlint:on #}
            <td>{{ object.name }}</td>
            <td class="hidden lg:block condensed:hidden">{{ object.filter|filter_to_text }}</td>
            <td>{{ object.user.username }}</td>
            <td>
              <div class="flex w-full justify-center">
                <button type="button"
                        class="btn btn-xs btn-primary btn-outline"
                        hx-post="{% url 'geant-filters:run-filter' object.pk %}"
                        hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
                        _="on click halt">Run</button>
                <button type="button"
                        class="btn btn-xs btn-error btn-outline"
                        hx-delete="{% url 'geant-filters:edit-filter' object.pk %}"
                        hx-confirm="Are you sure you want to delete filter {{ object.name }}? This will also delete any blacklists based on this filter."
                        hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
                        _="on click halt">Delete</button>
              </div>
            </td>
          </tr>
        {% endblock object %}
      {% empty %}
        <tr>
          <td colspan="4">No items on this page.</td>
        </tr>
      {% endfor %}
    {% endblock incident_rows %}
  </tbody>
  <tfoot>
    <tr>
      <td colspan="4" class="border-t border-primary">
        <div class="flex justify-between items-center">
          <div class="join h-13">
            <dl class="join-item stats stats-horizontal shadow leading-none overflow-x-auto font-medium bg-neutral text-neutral-content">
              <div class="stat py-2">
                <dt class="stat-title text-neutral-content/80">Total</dt>
                <dd class="stat-value text-2xl text-base">
                  {{ count }}
                </dd>
              </div>
            </dl>
            <a class="join-item btn btn-primary rounded-box h-full"
               href="{% url 'geant-filters:edit-filter' %}"
               hx-get="{% url 'geant-filters:edit-filter' %}"
               hx-target="#filter-edit">Create new filter</a>
          </div>
          <!--
                The htmx attributes set on the nav here are inherited by the child links.
                hx-target tells where htmx to swap the fetched content in, and hx-swap
                tells it how to swap it - by replacing the 'outerHTML' attribute of the
                target, i.e. replacing the target's actual DOM node. hx-push-url tells
                htmx to push the fetched URL into the browser history, so we can use
                the backwards/forwards buttons to navigate these subpages.
                -->
          <ul class="join h-13"
              hx-target="#table"
              hx-swap="outerHTML"
              hx-push-url="true">
            {% if page.number != 1 %}
              <li>
                <!--
                              For each link we use hx-get to tell htmx to fetch that URL and
                              swap it in. We also repeat the URL in the href attribute so the
                              page works without JavaScript, and to ensure the link is
                              displayed as clickable.
                            -->
                <a href="{% url 'geant-filters:filter-list' %}?page=1"
                   class="join-item btn btn-neutral h-full rounded-box">&laquo; First</a>
              </li>
            {% endif %}
            {% if page.has_previous %}
              <li>
                <a href="{% url 'geant-filters:filter-list' %}?page={{ page.previous_page_number }}"
                   class="join-item btn btn-neutral h-full rounded-box">{{ page.previous_page_number }}</a>
              </li>
            {% endif %}
            {% if page.paginator.num_pages > 1 %}
              <li>
                <button class="join-item btn btn-active btn-neutral h-full rounded-box">{{ page.number }}</button>
              </li>
            {% else %}
              <li>
                <button class="btn btn-active btn-neutral h-full rounded-box">{{ page.number }}</button>
              </li>
            {% endif %}
            {% if page.has_next %}
              <li>
                <a href="{% url 'geant-filters:filter-list' %}?page={{ page.next_page_number }}"
                   class="join-item btn btn-neutral h-full rounded-box">{{ page.next_page_number }}</a>
              </li>
            {% endif %}
            {% if page.number != page.paginator.num_pages %}
              <li>
                <a href="{% url 'geant-filters:filter-list' %}?page={{ page.paginator.num_pages }}"
                   class="join-item btn btn-neutral h-full rounded-box">&raquo; Last</a>
              </li>
            {% endif %}
          </ul>
        </div>
      </td>
    </tr>
  </tfoot>
</table>
