<table id="table"
       class="border border-separate border-spacing-1 border-primary table mt-2">
  <thead>
    <tr class="border-b border-primary">
      <th class="border-b border-primary">Name</th>
      <th class="border-b border-primary">User</th>
      <th class="border-b border-primary">Edit</th>
    </tr>
  </thead>
  <tbody id="table-body">
    {% block incident_rows %}
      {% for object in page.object_list %}
        {% block object %}
          <tr id="obj-{{ incident.pk }}-row" class="hover">
            <td>{{ object.name }}</td>
            <td>{{ object.user.username }}</td>
            <td>
              <a href="{% url 'geant-filters:edit-filter' object.pk %}">
                <button type="button" class="btn btn-ghost">Edit</button>
              </a>
            </td>
          </tr>
        {% endblock object %}
      {% empty %}
        <tr>
          <td colspan="2">No items on this page.</td>
        </tr>
      {% endfor %}
    {% endblock incident_rows %}
  </tbody>
  <tfoot>
    <tr>
      <td colspan="{{ column_count }}" class="border-t border-primary">
        <div class="flex justify-between items-center">
          <dl class="stats stats-horizontal shadow leading-none overflow-x-auto">
            <div class="stat">
              <dt class="stat-title">Total</dt>
              <dd class="stat-value text-2xl">
                {{ count }}
              </dd>
            </div>
            <div class="stat">
              <a href="{% url 'geant-filters:new-filter' %}">
                <button class="btn btn-ghost">Create new filter</button>
              </a>
            </div>
          </dl>
          <!--
                The htmx attributes set on the nav here are inherited by the child links.
                hx-target tells where htmx to swap the fetched content in, and hx-swap
                tells it how to swap it - by replacing the 'outerHTML' attribute of the
                target, i.e. replacing the target's actual DOM node. hx-push-url tells
                htmx to push the fetched URL into the browser history, so we can use
                the backwards/forwards buttons to navigate these subpages.
                -->
          <ul class="join"
              hx-target="#table"
              hx-swap="outerHTML"
              hx-push-url="true">
            {% if page.number != 1 %}
              <li>
                <!--
                              For each link we use hx-get to tell htmx to fetch that URL and
                              swap it in. We also repeat the URL in the href attribute so the
                              page works without JavaScript, and to ensure the link is
                              displayed as clickable.
                            -->
                <a hx-get="?page=1" href="?page=1" class="join-item btn btn-neutral">&laquo; First</a>
              </li>
            {% endif %}
            {% if page.has_previous %}
              <li>
                <a hx-get="?page={{ page.previous_page_number }}"
                   href="?page={{ page.previous_page_number }}"
                   class="join-item btn btn-neutral">{{ page.previous_page_number }}</a>
              </li>
            {% endif %}
            {% if page.paginator.num_pages > 1 %}
              <li>
                <button class="join-item btn btn-active btn-neutral">{{ page.number }}</button>
              </li>
            {% else %}
              <li>
                <button class="btn btn-active btn-neutral">{{ page.number }}</button>
              </li>
            {% endif %}
            {% if page.has_next %}
              <li>
                <a hx-get="?page={{ page.next_page_number }}"
                   href="?page={{ page.next_page_number }}"
                   class="join-item btn btn-neutral">{{ page.next_page_number }}</a>
              </li>
            {% endif %}
            {% if page.number != page.paginator.num_pages %}
              <li>
                <a hx-get="?page={{ page.paginator.num_pages }}"
                   href="?page={{ page.paginator.num_pages }}"
                   class="join-item btn btn-neutral">&raquo; Last</a>
              </li>
            {% endif %}
          </ul>
        </div>
      </td>
    </tr>
  </tfoot>
</table>
