{% load template_utils %}
{% include "./_filter_selector.html" with key="field" selected=rule.field %}
{% block invert %}
  {% if field.invertable %}
    {% include "./_filter_invert_checkbox.html" with invert=rule.invert %}
  {% endif %}
{% endblock invert %}
{% with operator=field.operators_by_name|get_item:rule.operator %}
  {% if operator %}
    {% block operator %}
      <select name="{{ prefix }}op"
              class="select select-bordered max-w-xs"
              autocomplete="off"
              hx-post="{{ edit_url|default:request.path }}"
              hx-include="#filter_edit_root"
              hx-trigger="change"
              hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
              hx-target="#filter_edit_root"
              hx-indicator="#filter-form ~ .htmx-indicator">
        {% for op in field.operators %}
          <option value="{{ op.name }}"
                  {% if operator.name == op.name %}selected{% endif %}>{{ op.display_name }}</option>
        {% endfor %}
      </select>
      {% include operator.template with prefix=prefix rule=rule operator=operator %}
    {% endblock operator %}
    {% include "./_filter_item_buttons.html" with is_root=is_root is_top=is_top is_bottom=is_bottom can_delete=can_delete prefix=prefix %}
  {% else %}
    <div>invalid data</div>
  {% endif %}
{% endwith %}
