{% load filter_extras %}
<div class="rule-list rule-rule">
    <div class="rule-group">
        {% include "geant/filters/_filter_selector.html" with key="op" selected=group.operator %}
        &nbsp;&nbsp;of the following are true&nbsp;
        {% if not is_root %}
            {% include "geant/filters/_filter_buttons.html" with can_delete=can_delete is_top=is_top is_bottom=is_bottom prefix=prefix %}
        {% endif %}
    </div>
    <div class="rule-operands">
        {% for item in group.items %}
            {% include "geant/filters/_filter_item.html" with filter=item is_root=False is_top=forloop.first is_bottom=forloop.last prefix=prefix|concat_underscore:forloop.counter0 can_delete=group.items|is_multiple %}
        {% endfor %}
    </div>
</div>
