{% load filter_extras %}
<select name="{{ prefix }}{{ key }}"
        autocomplete="off"
        class="select select-bordered max-w-xs"
        hx-post="{{ edit_url|default:request.path }}"
        hx-include="#filter_edit_root"
        hx-trigger="change"
        hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
        hx-target="#filter_edit_root"
        hx-indicator="#filter-form ~ .htmx-indicator">
  <option value="or" {% if selected == "or" %}selected{% endif %}>OR</option>
  <option value="and" {% if selected == "and" %}selected{% endif %}>AND</option>
  <option value="none" {% if selected == "none" %}selected{% endif %}>OR (NOT)</option>
  {% if not is_root %}
    {% for field in model.fields %}
      <option value="{{ field.name }}"
              {% if selected == field.name %}selected{% endif %}>{{ field.display_name }}</option>
    {% endfor %}
  {% endif %}
</select>
