{% load filter_extras %}

<select name="{{ prefix }}{{ key }}"
        autocomplete="off"
        class="rule-field"
        hx-post="."
        hx-include="#filter_edit_root"
        hx-trigger="change"
        hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
        hx-target="#filter_edit_root">
    <option value="and" {% if selected == "and" %}selected{% endif %}>All</option>
    <option value="or" {% if selected == "or" %}selected{% endif %}>Any</option>
    {% for field in fields_operators.keys %}
        <option value="{{ field }}" {% if selected == field %}selected{% endif %}>{{ field|display_text }}</option>
    {% endfor %}
</select>
