<div>
    <div class="rule-list rule-rule">
        <div class="rule-group">
            <select>
                <option></option>
                <option>All</option>
                <option>Any</option>
                <option>None</option>
                <option>Did</option>
                <option>Last name</option>
                <option>Updated</option>
                <option>Country</option>
            </select>
            &nbsp;&nbsp;of the following are true
        </div>
        <div class="rule-operands">
            <div class="rule-atom rule-rule">
                <select class="rule-field">
                    <option></option>
                    <option>All</option>
                    <option>Any</option>
                    <option>None</option>
                    <option>Did</option>
                    <option>Last name</option>
                    <option>Updated</option>
                    <option>Country</option>
                </select>
                <select class="rule-operator">
                    <option></option>
                    <option>is</option>
                    <option>begins with</option>
                </select>
                <input type="text" class="rule-parameter">
                <span class="rule-buttons"> &nbsp;
                    <button>-</button>
                    <button>+</button>
                    <button disabled="">↑</button>
                    <button>↓</button>
                </span>
            </div>
            <div class="rule-atom rule-rule">
                <select class="rule-field">
                    <option></option>
                    <option>All</option>
                    <option>Any</option>
                    <option>None</option>
                    <option>Did</option>
                    <option>Last name</option>
                    <option>Updated</option>
                    <option>Country</option>
                </select>
                <select class="rule-operator">
                    <option></option>
                    <option>at</option>
                    <option>at or before</option>
                    <option>at or after</option>
                    <option>at some time</option>
                </select>
                <input type="date" class="rule-parameter">
                <span class="rule-buttons"> &nbsp;
                    <button>-</button>
                    <button>+</button>
                    <button>↑</button>
                    <button disabled="">↓</button>
                </span>
            </div>
        </div>
    </div>
</div>
