{% extends "htmx/base.html" %}
{% block head %}
  {{ block.super }}
  <style>
    // source: https://github.com/Ahnfelt/rulebuilder
    h3 {
      color: #303030;
      font-family: Courier, serif;
    }

    .rule-rule {
      color: #505050;
      font-size: 13px;
      font-family: Verdana, sans-serif;
    }

    .rule-rule input,
    .rule-rule select {
      color: #303030;
      font-size: 13px;
      font-family: Verdana, sans-serif;
    }

    .rule-rule input,
    .rule-rule select {
      padding-left: 5px;
      box-sizing: border-box;
      height: 22px;
      max-height: 22px;
    }

    .rule-atom {
      margin-top: 15px;
    }

    .rule-list .rule-list {
      margin-top: 15px;
    }

    .rule-list,
    .rule-atom {
      padding: 5px;
      border-radius: 3px;
      border: 1px solid rgba(0, 0, 0, 0.1);
      background: hsl(0, 0%, 97%);
    }

    .rule-list .rule-list,
    .rule-list .rule-atom {
      background: hsl(0, 0%, 95%);
    }

    .rule-list .rule-list .rule-list,
    .rule-list .rule-list .rule-atom {
      background: hsl(0, 0%, 92%);
    }

    .rule-list .rule-list .rule-list .rule-list,
    .rule-list .rule-list .rule-list .rule-atom {
      background: hsl(0, 0%, 89%);
    }

    .rule-operands {
      margin: 15px 5px 5px 15px;
    }

    .rule-buttons button {
      cursor: pointer;
    }

    .rule-buttons button:not(:hover),
    .rule-buttons button[disabled] {
      opacity: 0.50;
    }

    .rule-buttons {
      visibility: hidden;
    }

    .rule-atom:hover .rule-buttons,
    .rule-group:hover .rule-buttons {
      visibility: visible;
    }
  </style>
{% endblock head %}
{% block main %}
  <div>
    <form action="{% if pk is None %}{% url 'geant:save-new-filter' %} {% else %} {% url 'geant:save-filter' pk %} {% endif %}"
          method="post">
      <label>
        Name:
        <input type="text" name="name" value="{{ filter.name }}" />
      </label>
      <div id="filter_edit_root">{% include "./_filter_item.html" with is_root=True %}</div>
      {% csrf_token %}
      <input type="submit" value="Save">
      <a href="{% url 'geant:filter-list' %}">
        <button type="button">Cancel</button>
      </a>
      <button type="button"
              hx-delete="."
              hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>Delete</button>
    </form>
  </div>
  <div id="response"></div>
{% endblock main %}
