<select name="{{ prefix }}{{ key }}"
        autocomplete="off"
        class="rule-field"
        hx-post="{% url 'geant:create-filter' %}"
        hx-include="#filter_edit_root"
        hx-trigger="change"
        hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
        hx-target="#filter_edit_root">
    >
    {% if is_empty %}<option></option>{% endif %}
    <option value="and" {% if selected == "and" %}selected{% endif %}>All</option>
    <option value="or" {% if selected == "or" %}selected{% endif %}>Any</option>
    {% for field in fields %}
        <option value="{{ field }}" {% if selected == field %}selected{% endif %}>{{ field }}</option>
    {% endfor %}
</select>
