<div class="rule-atom rule-rule">
    {% if rule %}
        {% include "geant/filters/filter_selector.html" with key="field" selected=rule.field %}
        <select name="{{ prefix }}op" class="rule-operator" autocomplete="off" value={{ rule.operator }}>
            {% for op in operators %}
                <option value="{{ op }}" {% if rule.operator == op %}selected{% endif %}>{{ op }}</option>
            {% endfor %}
        </select>
        <input name="{{ prefix }}val"
               type="text"
               value="{{ rule.value }}"
               class="rule-parameter">
        {% if not is_root %}
            {% include "geant/filters/filter_buttons.html" with is_top=is_top is_bottom=is_bottom can_delete=can_delete prefix=prefix %}
        {% endif %}
    {% else %}
        {% include "geant/filters/filter_selector.html" with key="field" is_empty=True %}
    {% endif %}
</div>
