@layer components {
  .badge.incident-critical {
    background-color: rgba(var(--color-incident-critical));
  }
  .badge.incident-critical.incident-closed {
    background-color: rgba(var(--color-incident-critical), 0.5);
  }
  .badge.incident-high {
    background-color: rgba(var(--color-incident-high));
  }
  .badge.incident-high.incident-closed {
    background-color: rgba(var(--color-incident-high), 0.5);
  }
  .badge.incident-medium {
    background-color: rgba(var(--color-incident-medium));
  }
  .badge.incident-medium.incident-closed {
    background-color: rgba(var(--color-incident-medium), 0.5);
  }
  .badge.incident-low {
    background-color: rgba(var(--color-incident-low));
  }
  .badge.incident-low.incident-closed {
    background-color: rgba(var(--color-incident-low), 0.5);
  }
  .badge.incident-default {
    @apply bg-base-100;
  }
  .badge.incident-clear {
    background-color: rgba(var(--color-incident-clear));
    border: none;
  }
}
