@layer components {
  .badge.incident-critical {
    background-color: rgba(var(--color-incident-critical));
  }
  .badge.incident-critical.incident-closed {
    background-color: rgba(var(--color-incident-critical), 0.5);
  }
  .badge.incident-major {
    background-color: rgba(var(--color-incident-major));
  }
  .badge.incident-major.incident-closed {
    background-color: rgba(var(--color-incident-major), 0.5);
  }
  .badge.incident-minor {
    background-color: rgba(var(--color-incident-minor));
  }
  .badge.incident-minor.incident-closed {
    background-color: rgba(var(--color-incident-minor), 0.5);
  }
  .badge.incident-default {
    @apply bg-base-100;
  }
  .badge.incident-clear {
    background-color: rgba(var(--color-incident-clear));
    border: none;
  }
}
