@layer components {
  .filter-invert-checkbox {
    display: grid;
    grid-template-rows: auto 0fr;
  }
  .filter-invert-checkbox > input[type="checkbox"],
  .filter-invert-checkbox > input[type="checkbox"] ~ * {
    cursor: pointer;
    grid-column-start: 1;
    grid-row-start: 1;
  }
  .filter-invert-checkbox > :not(input[type="checkbox"]) {
    opacity: 20%;
    pointer-events: none;
  }
  .filter-invert-checkbox > input[type="checkbox"]:checked ~ * {
    opacity: 100%;
    font-weight: bold;
  }
}
