<script>
  // this is written in such a way as to minimize garbage and allow garbage collection of any
  // timers when this script snippet is autoreloaded by htmx, to prevent memory leaks.

  window.setCounter = function() {
    let counter = document.getElementById('refresh-counter')
    if (!counter) return;

    if (window.serviceStatusBoxTimer) {
      clearInterval(window.serviceStatusBoxTimer)
    }

    window.serviceStatusBoxTimer = setInterval(() => {
      counter.textContent = parseInt(counter.textContent) + 1
    }, 1000)
  }
  setTimeout(window.setCounter, 100)
</script>
<dl class="stats stats-horizontal shadow leading-none overflow-x-auto text-xs bg-neutral w-full">
  <div class="stat pr-2 py-1">
    <dt class="stat-title text-neutral-content">Last refresh</dt>
    <dd class="stat-value text-sm text-neutral-content">
      <span id="refresh-counter" class="pl-0.5">0</span>s
    </dd>
  </div>
  <div class="stat px-2 py-1">
    <dt class="stat-title text-neutral-content">Trap last correlated</dt>
    <dd class="stat-value text-sm text-neutral-content">
      {{ last_correlated }}
    </dd>
  </div>
  <div class="stat px-2 py-1">
    <div>
      <dt class="stat-title text-neutral-content">Inventory last updated</dt>
      <dd class="stat-value text-sm text-neutral-content">
        {{ inventory.last_update|date:preferences.argus_htmx.datetime_format|default:"?" }}
      </dd>
    </div>
  </div>
  <div class="stat pl-2 py-1 flex gap-2 items-center">
    <span class="flex items-center text-neutral-content text-2xl font-bold cursor-pointer htmx-loading-spin"
          title="Update inventory"
          hx-post="{% url 'geant-status:update' %}"
          hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
          hx-push-url="false"
          hx-target="#service-status"
          {% if pending %}disabled{% endif %}>
      {% if pending %}
        !
      {% else %}
        <i class="fa-solid fa-rotate"></i>
      {% endif %}
    </span>
    <span>
      <a href="{{ inventory_ui_url }}" target="_blank" rel="noreferrer">
        <button class="btn btn-xs btn-neutral-content bg-transparent text-neutral-content text-bold"
                title="Inventory UI">UI</button>
      </a>
    </span>
  </div>
</dl>
<dl class="stats stats-horizontal shadow leading-none overflow-x-auto text-xs bg-neutral w-full">
  {% for service, status in services.items %}
    <div class="stat py-1">
      <dt class="stat-title text-neutral-content">{{ service }}</dt>
      <dd class="stat-value leading-2">
        <div class="inline-block w-full max-w-20 h-3 mr-2 bg-{{ status.color }} rounded-full"
             title="{{ status.message }}"></div>
      </dd>
    </div>
  {% endfor %}
</dl>
