{% load incident_extras %}
{% if is_editing %}
  <form hx-post="{% url 'geant-incidents:ack-incident' pk %}"
        hx-target="this"
        hx-swap="outerHTML"
        hx-push-url="false">
    <input type="text" name="comment" class="input input-xs" />
    {% csrf_token %}
    <input type="hidden" name="source" value="comment">
    <button class="btn btn-xs btn-outline">Ack</button>
  </form>
{% else %}
  {% with ack=ack|default:None %}
    {% with comment=incident|ack_description:ack %}
      {% if comment %}
        <input type="text"
               title="{{ comment }}"
               disabled
               class="input input-xs disabled:cursor-default"
               value="{{ comment }}" />
      {% else %}
        <button class="btn btn-xs btn-outline"
                hx-get="{% url 'geant-incidents:begin-comment' incident.pk %}"
                hx-swap='outerHTML'
                hx-target='this'
                hx-push-url='false'>Comment</button>
      {% endif %}
    {% endwith %}
  {% endwith %}
{% endif %}
