{% load template_utils %}
<section id="endpoints" class="rounded-box border border-accent p-2">
  <h1 class="font-bold text-2xl  ml-2">Endpoints</h1>
  {% for endpoint_type, endpoints in incident.metadata.endpoints.items %}
    {% if endpoints %}
      {% with endpoint_table=incident_details_tables|get_item:endpoint_type %}
        <div>
          <div class="collapse collapse-arrow px-0 mt-2">
            <input type="checkbox" name="is-open-checkbox" checked />
            <div class="collapse-title text-xl font-medium bg-primary text-primary-content capitalize">{{ endpoint_type }}</div>
            <div class="collapse-content p-0">
              <table class="table rounded-t-none border-x border-b border-primary border-separate text-base-content p-1">
                <thead>
                  <tr>
                    {% for column in endpoint_table %}<th class="py-2 border-b border-primary">{{ column.name }}</th>{% endfor %}
                  </tr>
                </thead>
                {% for endpoint in endpoints %}
                  <tbody>
                    {% with endpoint_counter=forloop.counter %}
                      <tr class="hover:bg-base-200 py-2 px-4">
                        {% for column in endpoint_table %}
                          {% if column.is_endpoint_column %}
                            <td rowspan="{{ endpoint.events|length }}">{% include column.cell_template with endpoint=endpoint %}</td>
                          {% endif %}
                        {% endfor %}
                        {% for event in endpoint.events %}
                          {% if not forloop.first %}<tr class="border border-primary">{% endif %}
                            {% for column in endpoint_table %}
                              {% if not column.is_endpoint_column %}
                                <td>{% include column.cell_template with event=event %}</td>
                              {% endif %}
                            {% endfor %}
                            {% if not forloop.last %}</tr>{% endif %}
                        {% endfor %}
                      </tr>
                    {% endwith %}
                  </tbody>
                {% endfor %}
              </table>
            </div>
          </div>
        </div>
      {% endwith %}
    {% endif %}
  {% endfor %}
</section>
