{% load template_utils %}
<section id="endpoints" class="rounded-box border border-accent p-2">
  <h1 class="font-bold text-2xl ml-2">Endpoints</h1>
  {% for endpoint_type, endpoints in incident.metadata.endpoints.items %}
    {% if endpoints %}
      {% with endpoint_table=incident_details_tables|get_item:endpoint_type %}
        <div class="collapse collapse-arrow px-0 mt-2 border border-primary">
          <input type="checkbox" name="is-open-checkbox" checked />
          <div class="collapse-title text-xl font-medium bg-primary text-primary-content capitalize">{{ endpoint_type }}</div>
          <div class="collapse-content !p-0">
            <table class="table border-primary border-b text-base-content">
              <thead>
                <tr>
                  {% for column in endpoint_table %}
                    <th class="py-2 border-b border-primary {{ column.classes }}">{{ column.name }}</th>
                  {% endfor %}
                </tr>
              </thead>
            </table>
            {% for endpoint in endpoints %}
              {% if endpoint.events|length == 1 %}
                <table class="text-sm w-full {% if not forloop.first %}border-t-1 border-primary{% endif %} text-base-content">
                  <tr>
                    {% for column in endpoint_table %}
                      {% if column.is_endpoint_column %}
                        <td class="px-4 py-2 {{ column.classes }}">{% include column.cell_template with endpoint=endpoint %}</td>
                      {% endif %}
                    {% endfor %}
                    {% with event=endpoint.events.0 %}
                      {% include "htmx/incidents/_incident_endpoint_event.html" %}
                    {% endwith %}
                  </tr>
                </table>
              {% else %}
                <div class="collapse {% if not forloop.first %}border-t-1 border-primary{% endif %} rounded-none">
                  <input type="checkbox" name="is-open-checkbox" />
                  <div class="collapse-title p-0 min-h-0">
                    <table class="text-sm w-full border-none text-base-content">
                      <tr class="py-2 px-4">
                        {% for column in endpoint_table %}
                          {% if column.is_endpoint_column %}
                            <td class="px-4 py-2 {{ column.classes }}">{% include column.cell_template with endpoint=endpoint %}</td>
                          {% endif %}
                        {% endfor %}
                        {% with event=endpoint.events.0 %}
                          {% include "htmx/incidents/_incident_endpoint_event.html" with event=event is_collapse=True %}
                        {% endwith %}
                      </tr>
                    </table>
                  </div>
                  <div class="collapse-content p-0">
                    <table class="text-sm w-full">
                      {% for event in endpoint.events %}
                        <tr class="hover:bg-base-200">
                          <td class="w-5/12 min-w-52"></td>
                          {% include "htmx/incidents/_incident_endpoint_event.html" with event=event %}
                        </tr>
                      {% endfor %}
                    </table>
                  </div>
                </div>
              {% endif %}
            {% endfor %}
          </div>
        </div>
      {% endwith %}
    {% endif %}
  {% endfor %}
</section>
