{% load incident_extras %}
<form id="incident-{{ incident.pk }}-ack"
      class="ack-checkbox flex items-center htmx-indicator-hidden {% if incident|must_ack %}animate-blink{% endif %}"
      {% if incident.ack_user %}title="{{ incident.ack_user }}"{% endif %}>
  <input type="checkbox"
         autocomplete="off"
         class="checkbox checkbox-sm checkbox-primary border htmx-loading-hidden disabled:cursor-default {% if incident|must_ack %}checkbox-error disabled:bg-error/60{% endif %}"
         {% if incident.ack %}checked disabled{% elif not incident|can_ack %}disabled{% endif %}
         hx-post="{% url endpoint|default:'htmx:incidents-update' action='ack' %}"
         hx-indicator="#incident-{{ incident.pk }}-ack">
  {% csrf_token %}
  <input type='hidden' name='description' value='acknowledged through the ui'>
  <input type='hidden' name='incident_ids' value='{{ incident.pk }}'>
  <span class="htmx-indicator loading loading-spinner loading-sm text-primary"></span>
</form>
