{% load incident_extras %}
{% with blacklist=incident.metadata.blacklist %}
  <div class="w-20">
    {% if blacklist.applied %}
      <div class="w-20 flex flex-row items-center -ml-[6px]">
        <div class="border-2 border-incident-{{ incident.metadata.blacklist.original_severity|lower }} rounded-2xl flex flex-row items-center px-1 gap-x-1"
             title="Original severity: {{ blacklist.original_severity }}&#010;Reason: {{ blacklist.message }}">
          <span class="badge {{ incident|incidentlevelbadge }} {% if incident.metadata and incident.metadata.phase == 'PENDING' %}animate-blink{% endif %}">
            {{ incident.level|to_severity }}
          </span>
          <span class="text-lg cursor-default font-bold text-primary">{{ incident |blacklist_symbol }}</span>
        </div>
      </div>
    {% else %}
      <div>
        <span class="badge {{ incident|incidentlevelbadge }} {% if incident.metadata and incident.metadata.phase == 'PENDING' %}animate-blink{% endif %}">
          {{ incident.level|to_severity }}
        </span>
      </div>
    {% endif %}
  </div>
{% endwith %}
