{% load argus_htmx %}
{% load incident_extras %}
<div id="incident-{{ incident.pk }}-{{ column.context.group }}-ack">
  {% if is_ack %}
    <input type="checkbox" checked disabled>
  {% else %}
    <input type="checkbox"
           {% if incident|is_acked_by:column.context.group %}checked disabled{% endif %}
           {% if not user|has_group:column.context.group %}disabled{% endif %}
           hx-post="{% url 'geant:ack-incident' pk=incident.pk %}?group={{ column.context.group }}"
           hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
           hx-target="#incident-{{ incident.pk }}-{{ column.context.group }}-ack">
  {% endif %}
</div>
