{% load argus_htmx %}
{% load incident_extras %}
{% if ack %}
  <input type="checkbox"
         class="checkbox checkbox-sm border border-primary"
         checked
         disabled>
{% else %}
  <form hx-post="{% url 'geant-incidents:ack-incident' pk=incident.pk %}"
        hx-target="this"
        hx-swap="outerHTML"
        hx-trigger="change from:find [type=checkbox]"
        hx-push-url="false">
    <input type="checkbox"
           class="checkbox checkbox-sm checkbox-accent border"
           {% if incident|is_acked_by:column.context.group %}checked disabled{% elif not user|has_group:column.context.group %}disabled{% elif incident.metadata.phase == "PENDING" %}disabled{% endif %}>
    {% csrf_token %}
    <input type="hidden" name="source" value="checkbox">
    <input type="hidden" name="group" source={{ column.context.group }}>
  </form>
{% endif %}
