<div id="modal_{{ endpoint_type }}_{{ endpoint_counter }}_{{ event_counter }}"
     class="modal"
     _="on closeModal add .closing then wait for animationend then remove .open .closing">
  <div class="modal-underlay " _="on click trigger closeModal"></div>
  <div class="modal-content hero">
    <div class="title is-size-5">{{ endpoint_name }}</div>
    <table class="my-3 table is-bordered is-striped">
      <tbody>
        {% for key, value in event.properties.items %}
          <tr>
            <th>{{ key }}</th>
            <td>{{ value }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    <button class=" button is-small is-rounded is-danger margin-top"
            _="on click trigger closeModal">Close</button>
  </div>
</div>
