{% extends "htmx/incidents/incident_detail.html" %}
{% load incident_extras %}
{% block head %}
  {{ block.super }}
  <script src="https://unpkg.com/hyperscript.org@0.9.12"></script>
{% endblock head %}
{% block main %}
  <div class="breadcrumbs text-sm py-4 px-4">
    <ul>
      <li>
        <a href="#">[{{ incident.pk }}]</a>
      </li>
      <li>
        <a href="#">[{{ incident.source_incident_id }}]</a>
      </li>
    </ul>
  </div>
  {% if incident.metadata %}
    <h2>{{ incident.metadata.description }}</h2>
  {% else %}
    <h2>{{ incident.description }}</h2>
  {% endif %}
  {% block incident_detail %}
    {% if incident.metadata and incident.metadata.version == "v0a4" %}
      <section id="endpoints" class="test rounded-box border border-accent">
        <legend class="menu-title text-2xl pb-0">Endpoints</legend>
        {% for endpoint_type, endpoints in incident.metadata.endpoints.items %}
          {% if endpoints %}
            <div class="p-2">
              <div class="collapse  bg-base-100 px-0">
                <input type="checkbox" name="my-accordion-3" checked="checked" />
                <div class="collapse-title text-xl font-medium bg-primary text-primary-content capitalize">{{ endpoint_type }}</div>
                <div class="collapse-content bg-secondary p-6">
                  <table class="border border-separate border-spacing-1 border-primary table bg-primary-content text-base-content">
                    <thead>
                      <tr class="border-b border-primary">
                        <th class="py-2 px-4 border-b border-primary">Endpoint Name</th>
                        <th class="py-2 px-4 border-b border-primary">Alarm ID</th>
                        <th class="py-2 px-4 border-b border-primary">Status</th>
                        <th class="py-2 px-4 border-b border-primary">Init Time</th>
                        <th class="py-2 px-4 border-b border-primary">Clear Time</th>
                        <th class="py-2 px-4 border-b border-primary">Properties</th>
                      </tr>
                    </thead>
                    {% for endpoint in endpoints %}
                      <tbody class="border-accent border-t">
                        {% with forloop.counter as endpoint_counter %}
                          <tr class="hover">
                            <td class="py-2 px-4 " rowspan="{{ endpoint.events|length }}">{{ endpoint.name }}</td>
                            {% for event in endpoint.events %}
                              {% if not forloop.first %}<tr class="border-t">{% endif %}
                                <td class="py-2 px-4 ">{{ event.properties.id }}</td>
                                <td class="py-2 px-4 ">
                                  <div class="flex items-center">
                                    <div class="inline-block w-4 h-4 mr-2 {% if event.is_up %} bg-green-500 {% else %} bg-red-500 {% endif %} rounded-full">
                                    </div>
                                    {{ event.is_up|yesno:"Up,Down" }}
                                  </div>
                                </td>
                                <td class="py-2 px-4 ">{{ event.init_time }}</td>
                                <td class="py-2 px-4 ">{{ event.clear_time }}</td>
                                <td class="py-2 px-4 ">
                                  <button type="button"
                                          class="bg-accent hover:bg-neutral text-accent-content py-1 px-2 rounded"
                                          onclick="modal_{{ endpoint_type }}_{{ endpoint_counter }}_{{ forloop.counter }}.showModal()">
                                    See more
                                  </button>
                                </td>
                                {% if not forloop.last %}</tr>{% endif %}
                            {% endfor %}
                          </tr>
                        {% endwith %}
                      </tbody>
                    {% endfor %}
                  </table>
                </div>
              </div>
            </div>
          {% endif %}
        {% endfor %}
      </section>
      {% for endpoint_type, endpoints in incident.metadata.endpoints.items %}
        {% for endpoint in endpoints %}
          {% with forloop.counter as endpoint_counter %}
            {% for event in endpoint.events %}
              {% include "htmx/incidents/_incident_event_properties_modal.html" with endpoint_name=endpoint.name event=event endpoint_type=endpoint_type endpoint_counter=endpoint_counter event_counter=forloop.counter %}
            {% endfor %}
          {% endwith %}
        {% endfor %}
      {% endfor %}
    {% else %}
      <p class="text-red-500">Cannot show additional information (mismatched metadata version)</p>
    {% endif %}
  {% endblock incident_detail %}
{% endblock main %}
