{% extends "htmx/incidents/incident_detail.html" %}
{% block incident_detail %}
    <p>{{ incident.metadata }}</p>
    {% comment %} <p>{{ incident.metadata }}</p> {% endcomment %}
    {% if incident.metadata and incident.metadata.version == "v0a1" %}
        <section id="endpoints">
            <h3>Endpoints</h3>
            {% for ep in incident.metadata.endpoints %}
                <div class="endpoint">
                    <h3>{{ ep.name }}</h3>
                    <table>
                        <tr>
                            <th>Type</th>
                            <th>Equipment Name</th>
                        </tr>
                        {% for event in ep.events %}
                            <tr>
                                <td>{{ event.alarm_type }}</td>
                                <td>{{ event.equipment_name }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            {% endfor %}
        </section>
    {% else %}
        <p>Cannot display incident details...</p>
    {% endif %}
{% endblock incident_detail %}
