<script src="https://unpkg.com/hyperscript.org@0.9.4"></script>

<!-- <div id="modal" class="uk-modal uk-open" style="display:block;">
    <div class="uk-modal-dialog uk-modal-body">
        <h2 class="uk-modal-title">Modal Dialog</h2>
        <p>This modal dialog was loaded dynamically by HTMX.</p>
        <button id="cancelButton" type="button" class="uk-button uk-button-default">Close</button>
    </div>
</div> -->

<script src="https://unpkg.com/hyperscript.org@0.9.4"></script>
<div id="modal" class="uk-modal" uk-modal>
    <div class="uk-modal-dialog uk-modal-body">
        <h2 class="uk-modal-title">Modal Dialog</h2>
        <p>This modal dialog was loaded dynamically by HTMX.</p>
        <button id="cancelButton" type="button" class="uk-button uk-button-default">Close</button>
    </div>
</div>