<select name="{{ widget.name }}"
        {% if widget.input_class %}class="{{ widget.input_class }}"{% endif %}>
  {% for group_name, group_choices, group_index in widget.optgroups %}
    {% if group_name %}<optgroup label="{{ group_name }}">{% endif %}
      {% for option in group_choices %}
        <option value="{{ option.value|stringformat:'s' }}" {% for name, value in option.attrs.items %} {% if value is not False %} {{ name }}{% if value is not True %}="{{ value|stringformat:'s' }}"{% endif %} {% endif %} {% endfor %}>
          {{ option.label }}
        </option>
      {% endfor %}
      {% if group_name %}</optgroup>{% endif %}
  {% endfor %}
</select>
