{% with id=widget.attrs.id %}
  <div class="flex flex-col gap-1" {% if id %}id="{{ id }}"{% endif %}>
    {% for group, options, index in widget.optgroups %}
      {% if group %}
        <div>
          <label>{{ group }}</label>
        {% endif %}
        {% for option in options %}
          <div>
            {% if option.wrap_label %}
              <label {% if option.attrs.id %}for="{{ option.attrs.id }}"{% endif %}
                     class="flex items-center">
              {% endif %}
              <input class="checkbox checkbox-xs checkbox-primary"
                     type="checkbox"
                     name="{{ option.name }}"
                     {% if option.value != None %}value="{{ option.value|stringformat:'s' }}"{% endif %}
                     {% for name, value in option.attrs.items %}{% if value is not False %} {{ name }}{% if value is not True %}="{{ value|stringformat:'s' }}"{% endif %}
                     {% endif %}
                     {% endfor %}>
              {% if option.wrap_label %}
                <span class="ml-1">{{ option.label }}</span>
              </label>
            {% endif %}
          </div>
        {% endfor %}
        {% if group %}</div>{% endif %}
    {% endfor %}
  </div>
{% endwith %}
