{% comment %} djlint:off {% endcomment %}
{% if field.use_fieldset %}
<fieldset>
{% endif %}
  {% if field.label %}<label {% if field.field.widget.label_class %}class="{{ field.field.widget.label_class }}"{% endif %} for="{{ field.field.id }}">{{ field.label }}</label>{% endif %}
{% if field.help_text %}
  <div class="helptext" {% if field.auto_id %}id="{{ field.auto_id }}_helptext"{% endif %}>{{ field.help_text|safe }}</div>
{% endif %}
  {{ field.errors }}
  {{ field }}
{% if field.use_fieldset %}
</fieldset>
{% endif %}
