{% extends "htmx/base.html" %}
{% load incident_extras %}
{% block main %}
  <section>
    <div class="rounded-box border border-primary p-2">
      <h1 class="font-bold text-2xl ml-2">Incident Details</h1>
      <div class="p-4 md:pr-16 lg:pr-24 xl:pr-60">
        <table class="table text-lg">
          <tbody>
            <tr class="border-primary">
              <td class="py-0 font-bold">Timestamp</td>
              <td class="py-0">{{ incident.start_time|date:preferences.argus_htmx.datetime_format }}</td>
            </tr>
            <tr class="border-primary">
              <td class="py-0 font-bold">Description</td>
              <td class="py-0 ">
                {% if incident.metadata %}
                  {{ incident.metadata.description }}
                {% else %}
                  {{ incident.description }}
                {% endif %}
              </td>
            </tr>
            <tr class="border-primary">
              <td class="py-0 font-bold">Alarm Id</td>
              <td class="py-0">{{ incident.source_incident_id }}</td>
            </tr>
            <tr class="border-primary">
              <td class="py-0 font-bold">Status</td>
              <td class="py-0">{{ incident.metadata.status|default:"Active"|upperfirst }}</td>
            </tr>
            <tr class="border-primary">
              <td class="py-0 font-bold">Severity</td>
              <td class="py-0">{{ incident.metadata.severity }}</td>
            </tr>
            <tr class="border-primary">
              <td class="py-0 font-bold">Flaps</td>
              <td class="py-0">{{ incident.metadata.endpoint_count|default:"-" }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </section>
  {% block incident_detail %}
    {% if incident.metadata and incident.metadata.version == "v0a4" %}
      {% include "./_incident_detail_v0a4.html" %}
    {% elif incident.metadata and incident.metadata.version == "v0a5" %}
      {% include "./_incident_detail_v0a5.html" %}
    {% else %}
      <p class="text-red-500">Cannot show additional information (mismatched metadata version)</p>
    {% endif %}
  {% endblock incident_detail %}
{% endblock main %}
