{% extends "htmx/base.html" %}
{% load static %}
{% block head %}
  {{ block.super }}
  <script src="{% static 'hyperscript-0.9.12.min.js' %}"></script>
{% endblock head %}
{% block navlinks %}
  <li>
    <a href="{% url 'htmx:incident-list' %}">Incidents</a>
  </li>
  <li>
    <a href="{% url 'geant-filters:filter-list' %}">Filters</a>
  </li>
  <li>
    <a href="{% url 'geant-blacklists:blacklist-list' %}">Blacklists</a>
  </li>
  {% if request.user.is_staff %}
    <li>
      <a href="{% url 'admin:index' %}">Admin</a>
    </li>
  {% endif %}
{% endblock navlinks %}
