{% extends "htmx/base.html" %}
{% block navlinks %}
  <li>
    <a href="{% url 'htmx:incident-list' %}">Incidents</a>
  </li>
  <li>
    <a href="{% url 'geant-filters:filter-list' %}">Filters</a>
  </li>
  {% if perms.blacklist.change_blacklist %}
    <li>
      <a href="{% url 'geant-blacklists:list-blacklists' %}">Blacklists</a>
    </li>
  {% endif %}
  {% if short_alarms_ui_url %}
    <li>
      <a href="{{ short_alarms_ui_url }}" target="_blank">Short-lived Alarms</a>
    </li>
  {% endif %}
  {% if request.user.is_staff %}
    <li>
      <a href="{% url 'admin:index' %}">Admin</a>
    </li>
  {% endif %}
{% endblock navlinks %}
